@model ProductModel



<div class="text-center">
    <h1 class="display-4">Edit Product</h1>
</div>

<form asp-action="Edit" asp-controller="Products" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PriceInPence" class="form-label"></label>
        <input asp-for="PriceInPence" class="form-control">
        <span asp-validation-for="PriceInPence" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SKU" class="form-label"></label>
        <input asp-for="SKU" class="form-control">
        <span asp-validation-for="SKU" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="Qty" class="form-label"></label>
        <input asp-for="Qty" class="form-control">
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

</form>